@import "tailwindcss";

@theme {
  --color-canvas: #ffffff;
  --color-surface: #f7f8fa;
  --color-ink: #0a0a0a;
  --color-hairline: #e5e7eb;
  --color-steel: #5f5f5f;
  --color-success-bg: #e8ffea;
  
  --font-family-sans: "DM Sans", "Inter", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-canvas);
    color: var(--color-ink);
    font-family: var(--font-family-sans);
  }
}
